*{
    background-color: 	rgb(247, 243, 212);
   
    font-size: calc(14px + 0.2vw);
    
    
}


.main > *
{
    color: rgb(28, 38, 116) !important;
    font-family: "Work Sans", sans-serif;
    margin-left: 5%;
    margin-right: 5%;


}

.line
{
    background-color: darkblue;
    margin-right: 5%;
}

h1
{
    font-family: "Sora", sans-serif;
    font-size: 4rem !important;
    font-weight: 900 !important;
}

@media(max-width: 1024px)
{
    h1
    {
        font-family: "Sora", sans-serif;
        font-size: 2.5rem !important;
        font-weight: 900 !important;
    }

    h2{
        font-family: "Sora", sans-serif;
        font-size: 1.1rem !important;
        font-weight: 800 !important;

    }

    h3
    {
        font-family: "Sora", sans-serif;
        font-size: 1rem !important;
        font-weight: 800 !important;
    }
}

h2{
    font-family: "Sora", sans-serif;
    font-size: 2rem !important;
    font-weight: 800 !important;

}

h3
{
    font-family: "Sora", sans-serif;
    font-size: 1.5rem !important;
    font-weight: 800 !important;
}

p   
{
    margin-top: 3%;
    font-size: 1.5rem;
}


li {
    font-size: 1.5rem;
    list-style-type: circle;
 
}

.AudioRecord
{
    border: 2px solid black;
    padding: 2%;
}

.recordButtons
{
    display: flex;
    flex-direction: row;    
}

button, label, a
{
    text-decoration: none;
    color: black;
    margin-right: 5%;
    font-size: 1.5em;
    margin: 2%;
    border: 1px solid black;
    padding: 2%;

}


.clip
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
    gap: 3%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1%;
    width: 80%;

}

audio{
    width: 100%;
}

